.map {
  &__marker {
    width: 36px;
    height: 36px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(-50%, -90%);

    &--red {
      background-image: url('@/assets/icons/location-red.svg');
    }

    &--blue {
      background-image: url('@/assets/icons/location-blue.svg');
    }
  }

  &__navigate {
    position: relative;
    z-index: 9999;
    margin-top: -25px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding-top: 5px;
    background-color: white;
    border-radius: 10px;
  }

  &__btn-wrapper {
    display: flex;
    gap: 10px;
    flex-shrink: 0;
  }

  &__btn {
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    padding: 0 8px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 2px 6px 0 #0003;

    &--red {
      border: 3px solid rgba(239, 101, 21, 0.3);
    }

    &--blue {
      border: 3px solid rgba(45, 107, 200, 0.3);
    }
  }
}
