.intro {
  width: 100vw;
  height: 100vh;
  height: 100svh;

  background-image: url('@/assets/images/bg-flowers.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 120vh;
  background-size: auto 120svh;
  transition: background-size 1s ease-out;

  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;

  &__toggle-song {
    width: 60px;
    height: 60px;
    border: none;
    position: absolute;
    top: -200px;
    margin: 100px auto;
    border-radius: 100%;
    background-color: #794b30;
    background-image: url('@/assets/icons/tone.svg');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    border: 3px solid #eee4d1;
    animation: pulse 1s infinite ease-in-out alternate;
    cursor: pointer;
    transition: top 1s 1s cubic-bezier(0, 0.12, 0, 1);

    @keyframes pulse {
      from { transform: scale(0.95); }
      to { transform: scale(1.05); }
    }

    &--pause {
      background-image: url('@/assets/icons/pause.svg');
      background-size: 50%;
      animation: none;
    }
  }

  &__content {
    width: 350px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
  }

  &__names {
    font-family: saintAmour, serif;
    font-size: 100px;
    display: flex;
    flex-direction: column;
    margin-top: -100px;
    margin-bottom: 50px;
  }

  &__name {
    height: 50px;
    transform: none;
    transition: transform 2s cubic-bezier(0, 0.12, 0, 1);

    &:first-child {
      transform: translate(-60px, -60px) scale(1.5);
    }

    &:last-child {
      transform: translate(-60px, 60px) scale(1.5);
      transition-delay: 0.2s;
    }

    &--and {
      padding-left: 80px;
      transform: scale(0.5);
      transition-delay: 0.1s;
    }
  }

  &__invitation,
  &__timer-wrapper {
    transition: all 1s 1s cubic-bezier(0, 0.12, 0, 1);
  }

  &__invitation,
  &__inviting-arrows {
    opacity: 0;
  }

  &__invitation {
    white-space: pre-line;
    text-transform: uppercase;
    font-weight: bold;
    transform: translateY(50px);
  }

  &__timer-wrapper {
    position: absolute;
    bottom: 70px;
    background-color: rgba(238, 223, 192, 0.9);
    padding: 10px;
    border-radius: 20px;
    transform: translateY(200px);
    box-shadow:
      0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14),
      0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    & > div:first-child {
      text-align: center;
      font-weight: bold;
    }
  }

  &__inviting-arrows {
    width: 30px;
    height: 200px;
    position: absolute;
    bottom: -60px;
    transform: rotate(90deg);
    background-image: url('@/assets/icons/chevron.svg');
    background-size: 30px;
    background-repeat: no-repeat space;
    background-position: center;
    filter: drop-shadow(0 0 2px black) drop-shadow(0 0 6px black);
    animation: wobble 4s ease infinite;
    transition: opacity 1s 1s cubic-bezier(0, 0.12, 0, 1);

    @keyframes wobble {
      0% { transform: rotate(90deg) translateX(0%); }
      6% { transform: rotate(90deg) translateX(-25%) scale(1.3); }
      12% { transform: rotate(90deg) translateX(20%) scale(1.3); }
      18% { transform: rotate(90deg) translateX(-15%) scale(1.3); }
      24% { transform: rotate(90deg) translateX(10%); }
      30% { transform: rotate(90deg) translateX(-5%); }
      40% { transform: rotate(90deg) translateX(0%); }
      100% { transform: rotate(90deg) translateX(0%); }
    }

    &--scrolled {
      animation: wobble 4s ease none;
      opacity: 0 !important;
    }
  }

  &--opened {
    background-size: auto 100vh;
    background-size: auto 100svh;

    .intro {
      &__toggle-song {
        top: 0;
      }

      &__name {
        transform: none;

        &--and {
          transform: none;
        }
      }

      &__invitation {
        transform: none;
      }

      &__invitation,
      &__inviting-arrows {
        opacity: 1;
      }

      &__timer-wrapper {
        transform: none;
      }
    }
  }
}
