@font-face {
  font-family: CormorantInfant;
  src: url('./assets/fonts/CormorantInfant-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: CormorantInfant;
  src: url('./assets/fonts/CormorantInfant-Bold.ttf');
  font-weight: 600;
}

:root {
  overflow-x: hidden;
  font-family: CormorantInfant, serif;
}
