@font-face {
  font-family: Cormorant;
  src: url('./assets/fonts/Cormorant.woff2');
}

@font-face {
  font-family: CormorantInfant;
  src: url('./assets/fonts/CormorantInfant-Regular.woff2');
  font-weight: 400;
}

@font-face {
  font-family: CormorantInfant;
  src: url('./assets/fonts/CormorantInfant-Bold.woff2');
  font-weight: 600;
}

@font-face {
  font-family: esenin;
  src: url('@/assets/fonts/esenin-script.woff2')
}

@font-face {
  font-family: saintAmour;
  src: url('@/assets/fonts/saint-amour-script.woff2');
}

:root {
  overflow-x: hidden;
  font-family: Cormorant, serif;
  -webkit-font-smoothing: antialiased;
}

h1 {
  text-transform: uppercase;
  font-size: 28px;
  border-bottom: 1px solid black;
  margin: 0 0 40px;
  padding-bottom:2px;
  font-weight: 500;
}

.number {
  font-family: CormorantInfant, serif;
}
