.main-screen {
  position: absolute;
  left: -999999999px;
  top: -999999999px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--open {
    position: static;
    left: unset;
    top: unset;
  }

  &__content-wrapper {
    background-image: url('@/assets/images/bg.png');
    width: 100%;
    position: relative;
    z-index: 0;
    background-size: 900px;
    background-position-y: 150px;
    background-position-x: center;

    &::after {
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, white, #f6ecdc99 50px);
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1000;

      @media screen and (max-width: 550px) {
        background: linear-gradient(to bottom, white 100px, #f6ecdc99 200px, #f6ecdc99 calc(100% - 200px), white calc(100% - 200px));
      }
    }
  }

  &__content {
    margin: 100px auto;
    padding: 60px 50px 100px;
    box-sizing: border-box;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    max-width: 100%;
    width: 500px;
    text-align: justify;
    font-weight: 500;
    border-radius: 20px;
    background-color: hsla(0, 0%, 100%, 0.86);

    @media screen and (max-width: 550px) {
      border-radius: 0;
    }

    & > * {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
