.epilogue {
  text-align: center;
  white-space: pre-line;
  font-size: 20px;

  &__await {
    font-family: saintAmour, serif;
    margin-top: 40px;
    font-size: 100px;
    font-weight: 500;
  }
}
