.link {
  color: rgb(1, 1, 196);
  text-decoration: none;
  border-bottom: 1px dashed currentColor;
  font-weight: bold;

  &:hover {
    color: rgb(0, 0, 247);
    border-bottom: 1px solid currentColor;
  }
}
